body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(30, 29, 29);
    border-radius: 15px;
    width: 70vh;
    overflow: hidden;
}

#display{
    width:100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(63, 62, 62);
    color: white;
}

#grid{
    display: grid;
    grid-template-columns: repeat(4, 15vh);
    padding: 25px;
    gap: 10px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(63, 62, 62);
    border: none;
    color: white;
    font-size: 4em;
    cursor: pointer;
}

button.operator{
    background-color: rgb(206, 115, 41);
}

button.operator:hover{
    background-color: rgb(210, 143, 88);
}

button:hover{
    background-color: rgb(79, 79, 79);
}

